---
title:  "Hatsumi Taikai"
date:   2023-10-06 16:00:00 +0200
last_modified_at: {{ now.strftime("%Y-%m-%d %H:%M:%S %z") }}
categories: tournaments
lang: en
---
{% raw %}
We invite you to the second MERS tournament in Kraków!

{% capture fig_img %}
![Hatsumi Taikai]({{ "/assets/images/2023-10-06-hatsumi-taikai.png" | relative_url }})
{% endcapture %}

<figure>
  {{ fig_img | markdownify | remove: "<p>" | remove: "</p>" }}
</figure>

## About

* Date: 17<sup>th</sup>-18<sup>th</sup> February 2024 (Sat-Sun)
* Place: [Jagiellonian University, Faculty of Mathematics and Information Technologies, Stanisława Łojasiewicza 6, 30-348 Kraków, Poland](https://goo.gl/maps/izBiryMK8gM9GpQd6)
* Ruleset: EMA Riichi 2016
* Hanchans: 8
* Entry fee: 150 PLN (35 EUR), paid by bank transfer (make sure you cover all the bank transfer fees, if any!):
    - Deadline: **7 February 2024**
    - IBAN: `PL13 1140 2004 0000 3802 8180 7241`
    - SWIFT/BIC: `BREXPLPWMBK`
    - Account owner:
      ```
      Stowarzyszenie Krakowski Klub Chombo
      ul. Grota-Roweckiego 31/13
      30-348 Kraków
      Poland
      ```
    - Reference:
      ```
      <name and surname> - Hatsumi Taikai registration fee
      ```
    - It is possible to use the Polish Mahjong League membership discount - if you wish to take advantage of this, please indicate this in the pre-tournament form and simply send us a transfer for the amount less 30/50 PLN, depending on which discount you are entitled to (30PLN if you pay the reduced fee of 50PLN before 31 January 2024, 50PLN if you pay the regular fee of 100PLN). Please note that you must be an active PLM member with your membership fee paid.
* Participant limit: 84
* EMA Observer: Michael Gürtl-Dusleag
* Referees:
  - Mateusz Maćkowski
  - Fabien Sacha
  - Marta Bacic (playing referee)
  - Szymon Nowicz (playing referee)
  - more coming soon!
* Lunch: included in the entry fee
* Prizes: trophies for the first three places, club merchandise for the first 10 places

Scores will be tracked using [Mahjong Tracker](https://mahjongtracker.com/) - players are advised to familiarize
themselves with the app before the tournament.
{% endraw %}
With representants of **{{ num_countries }}** different EMA countries and a total number of **{{ participants | length }}** contestants, the current MERS tournament ranking is **{{ "%.1f" | format(num_mers) }}** (with 4.0 being the maximum).\
<small>This statistic updates automatically. The details on how the weight is calculated can be found on [the EMA website](http://mahjong-europe.org/ranking/Basicsranking.html).</small>
{% raw %}
## Agenda

<table class="tournament-agenda">
<thead>
  <tr><th colspan="2">Saturday, 17 February</th></tr>
</thead>
<tbody>
  <tr>
    <td>09:00-09:45</td>
    <td>Registration</td>
  </tr>
  <tr>
    <td>09:45-10:00</td>
    <td>Opening ceremony</td>
  </tr>
  <tr>
    <td>10:00-11:30</td>
    <td>Hanchan I</td>
  </tr>
  <tr>
    <td>11:50-13:20</td>
    <td>Hanchan II</td>
  </tr>
  <tr>
    <td>13:20-14:45</td>
    <td>Lunch break</td>
  </tr>
  <tr>
    <td>14:45-16:15</td>
    <td>Hanchan III</td>
  </tr>
  <tr>
    <td>16:35-18:05</td>
    <td>Hanchan IV</td>
  </tr>
  <tr>
    <td>19:00-24:00</td>
    <td>After-party — <a href="https://maps.app.goo.gl/rxV5KY1KKB24t9bVA">T.E.A. Time Brewpub</a></td>
  </tr>
</tbody>
<thead>
  <tr><th colspan="2">Sunday, 18 February</th></tr>
</thead>
<tbody>
  <tr>
    <td>09:00-10:30</td>
    <td>Hanchan V</td>
  </tr>
  <tr>
    <td>10:50-12:20</td>
    <td>Hanchan VI</td>
  </tr>
  <tr>
    <td>12:20-13:45</td>
    <td>Lunch break</td>
  </tr>
  <tr>
    <td>13:45-15:15</td>
    <td>Hanchan VII</td>
  </tr>
  <tr>
    <td>15:35-17:05</td>
    <td>Hanchan VIII</td>
  </tr>
  <tr>
    <td>17:15-17:45</td>
    <td>Announcement of results, closing ceremony</td>
  </tr>
</tbody>
</table>

## How to get to the tournament

<a href="/assets/images/mers-2022-map.png">
  <img style="float: right; width: 400px; max-width: 100%;" src="/assets/images/mers-2022-map.png" alt="Commute map"/>
</a>

Generally speaking, we recommend taking a tram.
Depending on your exact location, the connection can be direct, or may require
you to change the tram on one of the stops.
The stop you should arrive at is named **Ruczaj** and the following trams will
take you there from the main train station:
* Tram 52, direct connection with around 22 minutes of commute time
* Tram 3 &#8594; 18, also ~22 minutes of time, but includes a change of tram
* Tram 50 &#8594; 17, longer commute time (32 minutes) due to the route

After leaving the tram, it will be just a 5-minute walk to arrive at the final
destination (Jagiellonian University, Faculty of Mathematics and Information
Technologies).

If you want to drop by a shop, we can recommend getting off 1 stop earlier, on
the **Norymberska** stop. There is a supermarket just next to the stop.
(Please note that because of Polish laws, it will be closed on Sunday)

The tournament venue also offers a free of charge parking space.

Directions to the tournament site from public transport stops:

<iframe src="https://www.google.com/maps/d/embed?mid=18YtUK4g1d6xtpzogBGiCnxFl_bbd_LI&ehbc=2E312F&noprof=1" style="width: 100%; height: 480px;"></iframe>

In case you need more detailed instructions, you can use
<https://krakow.jakdojade.pl> or <https://maps.google.com> &mdash; both
offer free help in Polish and English.

## Registration
{% endraw %}
{% if participants | length == 84 %}**NOTE:** Currently, the tournament is full &mdash; however, you can still sign up for the waiting list and participate in the tournament if any of the registered players drop out.

{% endif %}**[Register here](https://forms.gle/Q9MxGdNQU1fJbf746)**
{% raw %}
**ATTENTION:** Registration will be closed on January 31st &mdash; it will be the last day to submit your application.

## Players

<small>Last updated: {{ page.last_modified_at | date:"%Y-%m-%d %H:%M" }}</small>
{% endraw %}
<div class="progress" style="margin-bottom: 0.5em">
	<div
		class="progress-bar progress-bar-striped"
		role="progressbar"
		style="width: calc(100%*{{ participants | length }}/84);"
		aria-valuenow="{{ participants | length }}"
		aria-valuemin="0"
		aria-valuemax="84">
		{{ participants | length }}/84
	</div>
</div>

<div class="biggus-tablus" markdown="block">

| Nr | Name                                     | Nickname             | Country              | EMA ID                                                              |                         Fee                          |
|---:|:-----------------------------------------|:---------------------|:---------------------|:--------------------------------------------------------------------|:----------------------------------------------------:|
{% for val in participants %}| {{ "{0}".format(loop.index).rjust(2) }} | {{ "{0} {1}".format(val.first_name, val.last_name).ljust(40) }} | {{ val.nickname.ljust(20) }} | {{ val.country_en.ljust(20) }} | {% if val.ema_id %}[{{ val.ema_id }}](http://mahjong-europe.org/ranking/Players/{{ val.ema_id }}.html){% else %}{{ "".ljust(67) }}{% endif %} | {% if val.paid %}<i aria-hidden="true" class="fa fa-fw fa-check"></i>{% else %}{{ "".ljust(52) }}{% endif %} |
{% endfor %}
</div>

{% if waiting_list %}### Waiting list

Players will be moved off the waiting list if any of the registered participants drop out. This will be done on a first come, first served basis.

<div class="biggus-tablus" markdown="block">

| Nr | Name                                     | Nickname             | Country              | EMA ID                                                              |
|---:|:-----------------------------------------|:---------------------|:---------------------|:--------------------------------------------------------------------|
{% for val in waiting_list %}| {{ "{0}".format(loop.index).rjust(2) }} | {{ "{0} {1}".format(val.first_name, val.last_name).ljust(40) }} | {{ val.nickname.ljust(20) }} | {{ val.country_en.ljust(20) }} | {% if val.ema_id %}[{{ val.ema_id }}](http://mahjong-europe.org/ranking/Players/{{ val.ema_id }}.html){% else %}{{ "".ljust(67) }}{% endif %} |
{% endfor %}
</div>
{% endif %}
