---
title:  "Hatsumi Taikai"
date:   2023-10-06 16:00:00 +0200
last_modified_at: {{ now.strftime("%Y-%m-%d %H:%M:%S %z") }}
categories: tournaments
lang: pl
---
{% raw %}
Zapraszamy Was na drugi turniej MERS w Krakowie!

{% capture fig_img %}
![Hatsumi Taikai]({{ "/assets/images/2023-10-06-hatsumi-taikai.png" | relative_url }})
{% endcapture %}

<figure>
  {{ fig_img | markdownify | remove: "<p>" | remove: "</p>" }}
</figure>

## O turnieju

* Data: 17-18 lutego 2024 (sobota-niedziela)
* Miejsce: [Wydział Matematyki i Informatyki UJ, prof. Stanisława Łojasiewicza 6, 30-348 Kraków](https://goo.gl/maps/izBiryMK8gM9GpQd6)
* Zasady: EMA Riichi 2016
* Hanchany: 8
* Wpisowe: 150 PLN (35 EUR), płatne przelewem:
    - Płatność do **7 lutego 2024**
    - Nr konta: `13 1140 2004 0000 3802 8180 7241`
    - Nazwa odbiorcy:
      ```
      Stowarzyszenie Krakowski Klub Chombo
      ul. Grota-Roweckiego 31/13
      30-348 Kraków
      Poland
      ```
    - Tytuł:
      ```
      <imię i nazwisko> - wpisowe Hatsumi Taikai
      ```
    - Istnieje możliwość skorzystania ze zniżki członkowskiej Polskiej Ligi Mahjonga - jeżeli chcesz z niej skorzystać, zaznacz to w formularzu przedturniejowym i po prostu wyślij nam przelew na kwotę mniejszą o 30/50 PLN, w zależności od tego, jaka zniżka Ci przysługuje. Pamiętaj, że musisz być aktywnym członkiem PLM z opłaconą składką.
* Limit osób: 84
* Obserwator EMA: Michael Gürtl-Dusleag
* Sędziowie:
  - Mateusz Maćkowski
  - Fabien Sacha
  - więcej wkrótce!

Punkty będą śledzone za pomocą mobilnej aplikacji [Mahjong Tracker](https://mahjongtracker.com/) - polecamy zapoznać się
z jej działaniem przed turniejem.
{% endraw %}
Z reprezentantami **{{ num_countries }}** krajów EMA i łączną liczbą **{{ participants | length }}** graczy, aktualny ranking turnieju MERS wynosi **{{ "%.1f" | format(num_mers) }}** (maksimum to 4.0).\
<small>Statystyka ta aktualizuje się automatycznie. Szczegóły dotyczące sposobu obliczania wagi można znaleźć [na stronie EMA](http://mahjong-europe.org/ranking/Basicsranking.html).</small>
{% raw %}
## Agenda

<table class="tournament-agenda">
<thead>
  <tr><th colspan="2">Sobota, 17 lutego</th></tr>
</thead>
<tbody>
  <tr>
    <td>09:00-09:45</td>
    <td>Rejestracja</td>
  </tr>
  <tr>
    <td>09:45-10:00</td>
    <td>Otwarcie turnieju</td>
  </tr>
  <tr>
    <td>10:00-11:30</td>
    <td>1. hanchan</td>
  </tr>
  <tr>
    <td>11:50-13:20</td>
    <td>2. hanchan</td>
  </tr>
  <tr>
    <td>13:20-14:45</td>
    <td>Przerwa obiadowa</td>
  </tr>
  <tr>
    <td>14:45-16:15</td>
    <td>3. hanchan</td>
  </tr>
  <tr>
    <td>16:35-18:05</td>
    <td>4. hanchan</td>
  </tr>
</tbody>
<thead>
  <tr><th colspan="2">Niedziela, 18 lutego</th></tr>
</thead>
<tbody>
  <tr>
    <td>09:00-10:30</td>
    <td>5. hanchan</td>
  </tr>
  <tr>
    <td>10:50-12:20</td>
    <td>6. hanchan</td>
  </tr>
  <tr>
    <td>12:20-13:45</td>
    <td>Przerwa obiadowa</td>
  </tr>
  <tr>
    <td>13:45-15:15</td>
    <td>7. hanchan</td>
  </tr>
  <tr>
    <td>15:35-17:05</td>
    <td>8. hanchan</td>
  </tr>
  <tr>
    <td>17:15-17:45</td>
    <td>Ogłoszenie wyników i zamknięcie</td>
  </tr>
</tbody>
</table>

## Rejestracja
{% endraw %}
{% if participants | length == 84 %}**UWAGA:** Obecnie lista zawodników jest pełna &mdash; nadal jednak można zapisać się na listę oczekujących i wziąć udział w turnieju, jeśli któryś z zarejestrowanych graczy zrezygnuje.

{% endif %}**[Zapisy na turniej](https://forms.gle/Q9MxGdNQU1fJbf746)**
{% raw %}
**UWAGA:** Rejestracja zostanie zamknięta 31 stycznia &mdash; jest to ostatni dzień na wysłanie ważnego zgłoszenia.

## Gracze

<small>Ostatnia aktualizacja: {{ page.last_modified_at | date:"%Y-%m-%d %H:%M" }}</small>
{% endraw %}
<div class="progress" style="margin-bottom: 0.5em">
	<div
		class="progress-bar progress-bar-striped"
		role="progressbar"
		style="width: calc(100%*{{ participants | length }}/84);"
		aria-valuenow="{{ participants | length }}"
		aria-valuemin="0"
		aria-valuemax="84">
		{{ participants | length }}/84
	</div>
</div>

<div class="biggus-tablus" markdown="block">

| Nr | Imię i nazwisko                          | Pseudonim            | Kraj                 | EMA ID                                                              |
|---:|:-----------------------------------------|:---------------------|:---------------------|:--------------------------------------------------------------------|
{% for val in participants %}| {{ "{0}".format(loop.index).rjust(2) }} | {{ "{0} {1}".format(val.first_name, val.last_name).ljust(40) }} | {{ val.nickname.ljust(20) }} | {{ val.country_pl.ljust(20) }} | {% if val.ema_id %}[{{ val.ema_id }}](http://mahjong-europe.org/ranking/Players/{{ val.ema_id }}.html){% else %}{{ "".ljust(67) }}{% endif %} |
{% endfor %}
</div>

{% if waiting_list %}### Lista oczekujących

Gracze będą przeniesieni z listy oczekujących jeżeli któryś z zapisanych uczestników zrezygnuje z udziału. Będzie to robione w kolejności zgłoszeń.

<div class="biggus-tablus" markdown="block">

| Nr | Imię i nazwisko                          | Pseudonim            | Kraj                 | EMA ID                                                              |
|---:|:-----------------------------------------|:---------------------|:---------------------|:--------------------------------------------------------------------|
{% for val in waiting_list %}| {{ "{0}".format(loop.index).rjust(2) }} | {{ "{0} {1}".format(val.first_name, val.last_name).ljust(40) }} | {{ val.nickname.ljust(20) }} | {{ val.country_pl.ljust(20) }} | {% if val.ema_id %}[{{ val.ema_id }}](http://mahjong-europe.org/ranking/Players/{{ val.ema_id }}.html){% else %}{{ "".ljust(67) }}{% endif %} |
{% endfor %}
</div>
{% endif %}
